<launch>
  <param command="$(find xacro)/xacro $(find cube_description)/urdf/cube_2.xacro" name="robot_description"/>
  <node args="-param robot_description -urdf -model cube_2 -x 1.0 -y 1.6 -z 0.055" name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="world_name" value="$(find vrc_demo_description)/worlds/vrc_areana.world"/>
  </include>
</launch>
